<div class="row">
    <div class="col-md-6 alert alert-success text-center" style="margin-left: auto; margin-right: auto; " >
        <h2>Your accound was created succesfully</h2>
        <p>You can now log in to your account using credentials</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>
